BODY
{
	background: url(./images/castanzo.png) -182px -184px / 1800px no-repeat fixed;
}
SECTION.ui.container
{
	margin-top: 15px;
}
.ui.segment, NAV.ui.menu, DIV.field INPUT
{
	background-color: rgba(215, 219, 223, 0.5);
}
DIV.card DIV.content
{
	background-color: rgba(215, 219, 223, 0.9) !important;
}
TABLE.ui.fixed.table
{
	background-color: rgba(215, 219, 223, 1) !important;
}
TABLE.ui.fixed.table TH
{
	background-color: rgba(202, 208, 213, 0.900) !important;
}
DIV#stationactions
{
	margin-top: 15px;
}
H2.ui.header, H3.ui.header
{
	color: #025A6F;
}
DIV.card .icon
{
	color: #00A4CC;
}
A.ui.tiny.button
{
	background-color: #E0A02B;
	color: white;
	box-shadow: 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
}
BUTTON.ui.labeled.icon.button
{
}
DIV.card .icon.big
{
	float: right;
}
FORM DIV.fields DIV.field INPUT::placeholder, FORM.ui.stacked.segment.form INPUT::placeholder
{
	color: grey;
	font-style: italic;
}
BUTTON.ui.submit.button
{
	background-color: #00A4CC;
	color: white;
	box-shadow: 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
}
@media (max-width: 770px)
{
	DIV.card .icon
	{
		float: right;
	}
	H2.ui.header
	{
		padding-bottom: 10px;
	}
}
