<div class="ui five stackable cards">
  <div class="card">
    <div class="content">
      <div class="header">Station Name <i class="map marker alternate big icon"></i></div>
    </div>
    <div class="content">
      <p>Lat: ${_station.latitude} </p>
      <p>Long: ${_station.longitude} </p>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">Weather <i class="${_reading.currentIcon(_reading.code)}"></i></div>
    </div>
    <div class="content">
      <p>${_reading.weatherLabel(_reading.code)}</p>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">Temp <i class="thermometer big icon"></i></div>
    </div>
    <div class="content">
      <p>${_reading.temperature} C</p>
      <p>${_reading.toFahrenheit(_reading.temperature)} F</p>
      <p>Max: ${_station.readingMaxMin("max","temp")} C</p>
      <p>Min: ${_station.readingMaxMin("min","temp")} C</p>
      #{if _station.readings.size()>2}
      <p>Trend: ${_station.outputTrend("temp")} <i class="arrow ${_station.trendIcon(_station.outputTrend("temp"))} icon"></i></p>
      #{/if}
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">Wind <i class="wind big icon"></i></div>
    </div>
    <div class="content">
      <p>${_reading.convertToBeaufort(_reading.windSpeed).keySet().toArray()[0]} bft</p>
      <p>${_reading.convertToBeaufort(_reading.windSpeed).values().toArray()[0]}</p>
      <p>${_reading.windDirectionLabel(_reading.windDirection)}</p>
      <p>Feels like: ${_reading.calculateWindChill(_reading.temperature, _reading.windSpeed)}</p>
      <p>Max: ${_station.readingMaxMin("max","wind")} Km/h </P>
      <p>Min: ${_station.readingMaxMin("min","wind")} Km/h </P>
      #{if _station.readings.size()>2}
      <p>Trend: ${_station.outputTrend("wind")}<i class="arrow ${_station.trendIcon(_station.outputTrend("wind"))} icon"></i></p>
      #{/if}
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">Pressure <i class="compress arrows alternate big icon"></i></div>
    </div>
    <div class="content">
      <p>${_reading.pressure} hPa</p>
      <p>Max: ${_station.readingMaxMin("max","pressure")} hPa </P>
      <p>Min: ${_station.readingMaxMin("min","pressure")} hPa </P>
      #{if _station.readings.size()>2}
      <p>Trend: ${_station.outputTrend("pressure")} <i class="arrow ${_station.trendIcon(_station.outputTrend("pressure"))} icon"></i></p>
      #{/if}
    </div>
  </div>
</div>