#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}

<section class="ui two column middle aligned grid basic segment">

    <div class="column no-padding">
        <img class="floating-image ui fluid image" src="/public/images/weathertopdevice.png">
    </div>
    <div class="column">
        <h2 class="ui header">About Your Weather Top 1000</h2>
        <p>Congratulations on taking the leap to become a Weather Warrior. </p>
        <p>Did you know that conditions where you live are different from the nearest airport?</p>
        <p>With the Weather Top 1000, you will always be one step ahead of weather fluctuations </p>
        <P>This guide tours you through the features of your Weather Top and how to make the most of them in your
            location.</p>
        <div class="ui card">
            <p id="indent">What measurements can you take:</p>
            <ul>
                <li>Wind Direction</li>
                <li>Wind Speed</li>
                <li>Pressure</li>
                <li>Temperature</li>
                <li>Current Condition</li>
            </ul>
        </div>
    </div>

</section>
<section class="ui middle aligned basic segment">
    <div>
        <h3 class="ui header">Wind Direction & Wind Speed</h3>
        <p>Your Weather Top 1000 takes wind measurements using a Anemometer with two working parts - the Vane and the
            Propeller.
            These work together to create your reading. The wind vane part of the anemometer forces the
            propeller to face into the wind this is converted into a voltage that can be interpreted as a direction.
            The wind speed is measured by the four-blade propeller whose the frequency of rotation is
            directly proportional to wind speed.</p>
        <div>
            <div>
                <img class="left-inline-image floating-image" src="/public/images/anemometer.jpg"/></div>
            <h4>Key things to remember when choosing a location for the best wind readings</h4>
            <p>To get the best wind readings you need to position your Weather Top out in the open.</p>
            <p>The standard wind measurement should be taken at 10 meters (33 feet) above the ground. A roof-top works
                the best.
                Try to place the anemometer as high as is convenient.
                Try to make the anemometer the highest object around. 7 feet or more above the surrounding obstructions
                is best.</p>
        </div>
    </div>
</section>
<section class="ui middle aligned basic segment">
    <div>
        <h3 class="ui header">Temperature</h3>
        <p>The Weather Top can measure temperatures between -40 and +40 degrees C meaning to a precision of 0.01 degrees. The most common error in installing a weather station is associated with misplacing the thermometer sensor.
            <br/>
            To work correctly you must take your measurements in shade with plenty of ventilation. <br/>
            Your Weather Top is fitted with a radiation shield to reduce the impact of direct sunlight but for the best
            results remember the following when positioning your Weather Top:
        <ul>
            <li>The thermometer sensor never receives direct sunlight.</li>
            <li>The thermometer receives plenty of ventilation and is not blocked from the wind.</li>
            <li>If the thermometer is placed on a roof-top, make sure it is at least 5 feet above the roof-top.</li>
            <li>If the thermometer is placed above grass, again, it should be at least 5 feet above the grass surface.
            </li>
            <li>The thermometer is at least 50 feet from the nearest paved surface.</li>
        </ul>
        </p>

    </div>
</section>
<section class="ui middle aligned basic segment">
    <div>
        <h3 class="ui header">Pressure</h3>

        <p>Electronic pressure sensors measure pressure using a force collector to measure the strain due to an applied force over an area. The change in electrical resistivity of a semiconductor or metal is measured when mechanical strain is applied. The voltage output can be analog, which is then converted to digital. The Weather Top can read pressures of between 800 & 1300 hPa</p>
    </div>
</section>