#{extends 'main.html' /}
#{set title:'login' /}
#{welcomemenu id:"login"/}

<div class="ui two column middle aligned grid basic segment">
  <div class="column">
    <form class="ui stacked segment form" action="/authenticate" method="POST">
      <h3 class="ui header">Log-in</h3>
      <p id="notification">${notify}</p>
      <div class="field">
        <label>Email</label> <input name="email" required>
      </div>
      <div class="field">
        <label>Password</label> <input type="password" name="password" required>
      </div>
      <button class="ui submit button">Login</button>
    </form>
  </div>
  <div class="column no-padding">
    <img class="floating-image ui fluid image" src="/public/images/overview.png">
  </div>
</div>