#{extends 'main.html' /}
#{set title:'Start' /}

#{welcomemenu id:"start"/}

<section class="ui center aligned middle aligned segment">
  <div class="introduction">
    <i class="grey massive cloud moon rain icon"></i>
    <h1 class="ui inverted header">
        <span class="site-title">
          Weather Top
        </span>
      <span class="tagline">
         Watch the Weather <span class="wt-blue wt-emphasis">YOUR</span> Way!
        </span>
    </h1>
    <div class="ui hidden divider"></div>

    <a href="/about" class="ui huge inverted button">
      Learn More
    </a>
    <a href="/login" class="ui huge inverted button">Log in</a>
  </div>
</section>
<section class="ui center aligned middle aligned segment">
  <div class="flow">
    <div class="flow-container">
    <div class="image" width="150px">
      <img class="ui small circular image" src="/public/images/which2.png">
    </div>
    <div class="ui card">
      <div class="content">
        <div class="header">What is Weather Top?</div>
        <div class="description">
          <p>The Weather Top 1000 is your personal eye on the sky!</p>
          <p>We create robust low cost weather stations that track temperature, wind speed, wind direction and pressure as well as latest weather.</p>
          <p>With Weather Top you will always know what's going on.</i></p>
        </div>
      </div>
    </div>
    </div>
    <div class="flow-container">
      <div class="image" width="150px">
        <img class="ui small circular image" src="/public/images/install.png">
      </div>
      <div class="ui card">
        <div class="content">
          <div class="header">Easy to Install</div>
          <div class="description">
            <p>The Weather Top 1000 is neat and compact!</p>
            <p>Install in 3 simple steps by anchoring your station to the location, switching on the battery pack and pressing go.</p>
            <p>No fuss! just weather data!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="flow-container">
      <div class="image" width="150px">
        <img class="ui small circular image" src="/public/images/register.png">
      </div>
      <div class="ui card">
        <div class="content">
          <div class="header">Register</div>
          <div class="description">
            <p>We got your back!</p>
            <p>Create your personal Weather Top account and access all your station reading from any where.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>